body{
    background: #ccb3f8;
}
.wrapper{
    margin:0 auto;
    width:800px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 0.5mm ridge #000;
    padding: 20px;
    background: white;
}
.right{
    background-color: #99ec6f;
    border-radius: 5px;
    padding-left:5px;
}
.wrong{
    background-color: #f94f43;
    border-radius: 5px;
    padding-left:5px;
}
.hidden{
    display: none;
}
#btn1{
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
}
.opend{
    background-color: #ccb3f8;
}